.exp-item {
  background-size: cover;
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-auto-rows: auto 1fr;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.exp-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.exp-des {
  color: white;
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 24px;

}
.go-exp {
margin-top: -16px;
}
.exp {
  margin-top: 16px;
}